//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('events', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left") Events
        p(data-sr="enter left") El equipo de Joy Events se enfoca en el desarrollo, gestión y producción de eventos de marketing.
        p(data-sr="enter left") Ofrecemos experiencias de marca innovadoras y memorables con impacto deslumbrante. Somos reconocidos por un diseño único y creativo, con estrategia perspicaz, tecnologías innovadoras y ejecución de eventos impresionantes.
      .col7
        .mainVideo(data-sr="enter right")
          +video('DulLQEmS70g')
    
    .container.mktTxt
      .col12
        h3 Soluciones
        ul
          li Diseño y estrategia.
          li Producción de soluciones creativas
          li Ejecución y manejo de eventos.
          li BTL, experience marketing y activaciones.
          
    .container.secondContent
      .col5
        .secVideo(data-sr="enter left")
          +video('BG1N6El12Po')
      .col5.push1
        .slider.one.slideVideos(data-sr="enter right")
            div
              .container
                .col6: +video('PY8WpJ10nEo')
                .col6: +video('AF92UZlUiPY')
              .container
                .col6: +video('MVL1SsfClgM')
                .col6: +video('sf7RO2uV904')
            div
              .container
                .col6: +video('6_IERQHjOQs')
                .col6: +video('9GLKgVBYlFo')
              .container
                .col6: +video('pbNyMIYYpLQ')
                .col6: +video('xa6h-Hd6LW8')
            div
              .container
                .col6: +video('KbIE2IUzPlM')
                .col6: +video('DkcGvEaOQlk')
              .container
                .col6: +video('r9_O7LqAeKw')
                .col6: +video('M45fHp9cKus')
            div
              .container
                .col6: +video('6t1m5ppeneM')
                .col6: +video('iE18OTZgQ6Q')
              .container
                .col6: +video('a2tmqbLn2qQ')
                .col6: +video('4hHfWuYAe50')
            div
              .container
                .col6: +video('Onua5kkS0Ys')
                .col6: +video('mxJKJ-JZwGQ')
              .container
                .col6: +video('hNR5HRNxOcQ')
                .col6: +video('-y6n6n7ax3Q')
            div
              .container
                .col6: +video('b4VeaPXQ5kw')
                .col6: +video('H3EB0xvh1Tc')
              .container
                .col6: +video('MvDi50IkyAo')
    .container.mktTxt
      .col10.push1
        a(href="contacto.html").btn.empieza Empieza ahora

    +footer
            
    +scripts
