//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('events', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left") Gadgets
        p(data-sr="enter left") La infraestructura y equipo de Joy Gadgets son la columna vertebral de nuestros servicios integrados para eventos y marketing.
        p(data-sr="enter left") Nuestro equipo ingenieros han creado aplicaciones únicas para llevar al máximo las tecnologías, logrando en los últimos años implementar eventos exclusivos para marcas globales, medianas y pequeñas empresas con gran éxito.

        
      .col7
        .mainVideo(data-sr="enter right")
          +video('mG0yzUuglMc')
    .container.mktTxt
      .col12
        h3 Infraestructura
        ul
          li Audio, Video e iluminación
          li Pantallas de LED
          li Video mapping y watch out
          li Diseño de escenarios y display Estructuras y Domos de gran desempeño Equipo y mobiliario
          li Socios estratégicos que aumentan y mejoran nuestras competencias base
    .container.secondContent
      .col5
        .secVideo(data-sr="enter left")
          +video('9onMlx8djzY')
      .col5.push1
        .slider.one.slideVideos(data-sr="enter right")
          div
            .container
              .col6: +video('IKP_zB773GA')
              .col6: +video('FjqFSTlOO-s')
            .container
              .col6: +video('9hUGMhv4-UQ')
              .col6: +video('sFUKrQeUd6A')
          div
            .container
              .col6: +video('32LEaPOdhyU')
              .col6: +video('f6jmun-2B_M')
            .container
              .col6: +video('--W84KDTGis')
              .col6: +video('xM6oTADVAE8')
          div
            .container
              .col6: +video('yelVRqhYoLo')
              .col6: +video('zVXiqimr9Ck')
            .container
              .col6: +video('KjrA_uqOPZc')
              .col6: +video('DKLn_Jy_7ew')
          div
            .container
              .col6: +video('-CuEkoaAXNA')
              .col6: +video('4Z4zXrxpESA')
            .container
              .col6: +video('uqdXAIysN7Y')
              .col6: +video('O81F_saY7P8')
          div
            .container
              .col6: +video('cYogSL1O884')
              .col6: +video('2gO9hyQimtQ')
            .container
              .col6: +video('N1vuZmvR0fQ')
              .col6: +video('QWn1SDl8vwE')
          div
            .container
              .col6: +video('UyzmkplYS1k')
              .col6: +video('aYEQBvDJoWg')
            .container
              .col6: +video('8Vl7O63O68w')
              .col6: +video('zjjMpdrkEgc')
          div
            .container
              .col6: +video('SXgM2hbwzcw')
              .col6: +video('DcPa2Z5DXu4')
            .container
              .col6: +video('9V--tn_btVg')
    .container.mktTxt
      .col10.push1
        a(href="contact.html").btn.empieza Empieza ahora              
    +footer
            
    +scripts
