//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('index', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left").low Social
        
      .col7
        .mainImage
        +sliderbg('.mainImage', 'site/img/mkt-social.jpg')

    
    .container.mktTxt
      .col10.push1
        h3 Construimos comunidades “solidas y fieles” a la marca
        p(data-sr) A través de las redes sociales logramos establecer comunicaciones y compromisos directos entre su clientes, clientes potenciales y empleados. Dentro de los principales beneficios de ejecutar acciones sociales para negocio están el impulsar la distribución de contenido, la promoción de la marca en línea, adquisición de embajadores de marca a costos relativamente accesibles.
        h4 Soluciones
        ul
          li Administración profesional de Redes Sociales. Facebook, Twitter, Instagram, YouTube, Periscope y más...
          li Video marketing
          li E-mail marketing
          li Blog marketing
          li PR Digital e "Influencers"
        a(href="contacto.html").btn.empieza Empieza ahora
    +mktnav
    +returnmkt
    +footer
            
    +scripts
