//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('index', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left").low Estrategia y Consultoría
        
      .col7
        .mainImage
        +sliderbg('.mainImage', 'site/img/mkt-estrategia.jpg')

    
    .container.mktTxt
      .col10.push1
        h3 Las mejores practicas nos provén de ideas para alcanzar el éxito
        p(data-sr) La asesoría integral de marketing y negocio, funciona de manera externa a su empresa con un equipo especializado, diseñando, analizando, desarrollando y ejecutando estrategias con visión innovadora.
        p(data-sr) El equipo Joy Consultants se enfoca en la optimización de esfuerzos para alcanzar eficientemente objetivos, que en conjun- to nos conduzcan a el éxito que nuestros clientes están buscando.

        h4 Soluciones
        ul
          li Desarrollo del Plan de Negocios para empresas
          li Planes de Marketing para empresas y proyectos
          li Desarrollo de Planes de Marketing Estratégico
          li Estratégias de Marketing para empresas
          li Estrategia y Lanzamientos de Productos y Servicios
          li Planes de Comunicación para empresas
          li Estrategias Comerciales y Estrategias de Venta
          li Detección de nuevas oportunidades de negocio
          li Capacitación Empresarial en Marketing y Ventas
          li Diseño de Presupuestos de Marketing
          li Proyecciones de Ventas
        p.center
          strong Contamos con programas para pequeñas empresas de desarrollo a medida (Pymes)
        a(href="contacto.html").btn.empieza Empieza ahora
    +footer
            
    +scripts
