//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('index', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left").low Campañas de Publicidad
        
      .col7
        .mainImage
        +sliderbg('.mainImage', 'site/img/mkt-publicidad.jpg')

    
    .container.mktTxt
      .col10.push1
        h3 Buscamos sorprender al mundo a través de nuestra filosofía del “Celebrar” marcas
        p(data-sr) Lo más importante es solucionar los problemas de negocio que se le presentan a nuestros clientes en un sentido más amplio y no solo en sus retos publicitarios.
        p(data-sr) En el equipo de Joy Ad buscamos dejar historia, por los que nuestras propuestas son valientes y audaces, siempre con el objetivo claro de crear valor a nuestros clientes.
        h4 Soluciones
        ul
          li Administración y planificación de campaña
          li Desarrollo de Conceptos creativos
          li Diseño Publicitario
          li Producción de video, audio y eventos
          li Planificación y compra de medios
          li Logística de lanzamiento
          li Ejecución de estrategias en Retail
          li Artículos promocionales
          li Medición de campaña
        a(href="contacto.html").btn.empieza Empieza ahora
    +footer
            
    +scripts
