//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('index', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left").low Web UX
        
      .col7
        .mainImage
        +sliderbg('.mainImage', 'site/img/mkt-web.jpg')

    
    .container.mktTxt
      .col10.push1
        h3 Nuestros desarrollos generan "Engagement"
        p(data-sr) Desarrollamos sitios Web siguiendo un concepto llamado UX (User eXperince), donde la creatividad y la estrategia convergen de manera excelente en el logro de los objetivos de nuestros clientes.
        p(data-sr) Con nuestras soluciones optimizadas logramos generar una destacada presencia web, que te permitirá tener un pie delante de tus competidores impulsando las ventas de tus productos y/o servicos.
        h4 Soluciones
        ul
          li Desarrollo de sitios Web UX
          li Desarrollo de sitios Web Responsivos adaptables a dispositivos móviles
          li Micrositios Promocionales
          li Tienda en línea “E-commerce”
          li Optimización de Páginas de conversión “Landing Pages”     
        a(href="contacto.html").btn.empieza Empieza ahora
    
    
    
    +mktnav
    +returnmkt
    
    +footer
            
    +scripts
