//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
    +auxmenu
    .container
      .col2(data-sr).logo
        a(href="index.html"): .svg(data="site/img/joy.svg").joy.w100
    .menuHidden
      .container
        nav.mainNav: +menu('index', menu, 'horizontal')
    
    .container.centralContent
      .col5
        h2(data-sr="enter left").low Ceative Content <br><small>(Generación de contenido)</small>
        
      .col7
        .mainImage
        +sliderbg('.mainImage', 'site/img/mkt-analytics.jpg')

    
    .container.mktTxt
      .col10.push1
        h3 Conversaciones con usuarios y clientes potenciales que aportan “credibilidad”
        p(data-sr) Entendemos como desarrollar contenidos que posicionen a la marca como líder de opinión en los temas relevantes para nuestros clientes y su mercado potencial.
        p(data-sr) Al aumentar la calidad de enlaces externos que dirigen a nuestro sitio, logramos mejorar de forma exponencial nuestro posiciona- miento digital.
        h4 Soluciones
        ul
          li Planificación eficiente de contenido para la marca y negocio
          li Creación de contenido personalizado
          li Publicación de contenido
          li Promoción de contenido y captura de suscriptores
          li Estrategias pagadas de distribución de contenido
          li Incremento de tráfico y clientes potenciales
        a(href="contact.html").btn.empieza Empieza ahora
    +mktnav
    +returnmkt
    +footer
            
    +scripts
