/* ####################################################### */
/* IMPORTS */
/* ####################################################### */
/* RESET.LESS */
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: bold;
}
img {
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
li {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
svg {
  overflow: hidden;
}
/* ####################################################### */
/* MEDIA QUERIES */
@media only screen and (min-width: 1200px) {
  .nodesktop {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px), only screen and (max-width: 600px) {
  .notablet {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .nomobile {
    display: none;
  }
}
/* ####################################################### */
/* COLUMNS GRID */
.container {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .container {
    width: 480px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.container .container {
  width: 100%;
}
.col1 {
  display: block;
  float: left;
  width: 6.25133%;
  margin: 0 1.041%;
}
.col2 {
  display: block;
  float: left;
  width: 14.58466%;
  margin: 0 1.041%;
}
.col3 {
  display: block;
  float: left;
  width: 22.91799%;
  margin: 0 1.041%;
}
.col4 {
  display: block;
  float: left;
  width: 31.25132%;
  margin: 0 1.041%;
}
.col5 {
  display: block;
  float: left;
  width: 39.58465%;
  margin: 0 1.041%;
}
.col6 {
  display: block;
  float: left;
  width: 47.91798%;
  margin: 0 1.041%;
}
.col7 {
  display: block;
  float: left;
  width: 56.25131%;
  margin: 0 1.041%;
}
.col8 {
  display: block;
  float: left;
  width: 64.58464%;
  margin: 0 1.041%;
}
.col9 {
  display: block;
  float: left;
  width: 72.91797%;
  margin: 0 1.041%;
}
.col10 {
  display: block;
  float: left;
  width: 81.2513%;
  margin: 0 1.041%;
}
.col11 {
  display: block;
  float: left;
  width: 89.58463%;
  margin: 0 1.041%;
}
.col12 {
  display: block;
  float: left;
  width: 97.91796%;
  margin: 0 1.041%;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t1 {
    width: 6.25133%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t2 {
    width: 14.58466%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t3 {
    width: 22.91799%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t4 {
    width: 31.25132%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t5 {
    width: 39.58465%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t6 {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t7 {
    width: 56.25131%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t8 {
    width: 64.58464%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t9 {
    width: 72.91797%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t10 {
    width: 81.2513%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t11 {
    width: 89.58463%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .col-t12 {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m1 {
    width: 6.25133%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m2 {
    width: 14.58466%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m3 {
    width: 22.91799%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m4 {
    width: 31.25132%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m5 {
    width: 39.58465%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m6 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m7 {
    width: 56.25131%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m8 {
    width: 64.58464%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m9 {
    width: 72.91797%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m10 {
    width: 81.2513%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m11 {
    width: 89.58463%;
  }
}
@media only screen and (max-width: 600px) {
  .col-m12 {
    width: 97.91796%;
  }
}
.push0 {
  margin-left: 1.041%;
}
.push1 {
  margin-left: 9.37433%;
}
.push2 {
  margin-left: 17.70766%;
}
.push3 {
  margin-left: 26.04099%;
}
.push4 {
  margin-left: 34.37432%;
}
.push5 {
  margin-left: 42.70765%;
}
.push6 {
  margin-left: 51.04098%;
}
.push7 {
  margin-left: 59.37431%;
}
.push8 {
  margin-left: 67.70764%;
}
.push9 {
  margin-left: 76.04097%;
}
.push10 {
  margin-left: 84.3743%;
}
.push11 {
  margin-left: 92.70763%;
}
.push12 {
  margin-left: 101.04096%;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t0 {
    margin-left: 1.041%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t1 {
    margin-left: 9.37433%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t2 {
    margin-left: 17.70766%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t3 {
    margin-left: 26.04099%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t4 {
    margin-left: 34.37432%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t5 {
    margin-left: 42.70765%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t6 {
    margin-left: 51.04098%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t7 {
    margin-left: 59.37431%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t8 {
    margin-left: 67.70764%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t9 {
    margin-left: 76.04097%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t10 {
    margin-left: 84.3743%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t11 {
    margin-left: 92.70763%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .push-t12 {
    margin-left: 101.04096%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m0 {
    margin-left: 1.041%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m1 {
    margin-left: 9.37433%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m2 {
    margin-left: 17.70766%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m3 {
    margin-left: 26.04099%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m4 {
    margin-left: 34.37432%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m5 {
    margin-left: 42.70765%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m6 {
    margin-left: 51.04098%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m7 {
    margin-left: 59.37431%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m8 {
    margin-left: 67.70764%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m9 {
    margin-left: 76.04097%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m10 {
    margin-left: 84.3743%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m11 {
    margin-left: 92.70763%;
  }
}
@media only screen and (max-width: 600px) {
  .push-m12 {
    margin-left: 101.04096%;
  }
}
/*---------------------------------------------------
    LESS Elements 0.9 | MOD @ dragonbarbudo
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@-webkit-keyframes shaking {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.shake {
  -webkit-animation-name: shaking;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.floating {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.breath {
  -webkit-animation-name: breathing;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -o-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.wait {
  -webkit-animation-name: waiting;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes waiting {
  0% {
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter: alpha(opacity=80);
  }
  50% {
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    -webkit-opacity: 0.1;
    opacity: 0.1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    filter: alpha(opacity=10);
  }
  100% {
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter: alpha(opacity=80);
  }
}
/* ####################################################### */
/* CLASS UTILS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.w100 {
  width: 100%;
}
.t {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
}
.grid {
  background: url(http://griddle.it/940-12-20?num=0) repeat-y;
  background-size: 940px;
  background-position: center;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .grid {
    background: url(http://griddle.it/464-12-8?num=0) repeat-y;
    background-size: 470px;
    background-position: 4px;
  }
}
@media only screen and (max-width: 600px) {
  .grid {
    background: url(http://griddle.it/960-12-20?num=0) repeat-y;
    background-size: 97.918%;
    background-position: center;
  }
}
.grid:before {
  content: ".container";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.6em;
  color: #aaa;
}
/* GENERAL STYLES */
/*------ NAV ------*/
/* .horizontal */
ul.horizontal {
  list-style: none;
}
ul.horizontal li {
  position: relative;
}
ul.horizontal li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
ul.horizontal li:hover ul {
  display: block;
}
ul.horizontal li > ul {
  position: absolute;
  display: none;
  width: 100%;
  list-style: none;
}
ul.vertical {
  list-style: none;
}
ul.vertical li > ul {
  list-style: none;
}
form.simple label {
  display: block;
}
form.simple input,
form.simple textarea {
  display: block;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}
/* PLUGINS styles */
/* SLICK SLIDER */
.slick-arrow {
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  position: absolute;
  border: none;
  background: #2dfffe;
  color: #272a32;
  z-index: 10;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow:hover {
  cursor: pointer;
  background: #272a32;
  color: #2dfffe;
}
/* backstretch */
.bgslider {
  display: none;
}
/* ################################ CONTAINER WIDTHS: */
/* ################################ COLORS */
/* ################################ FONTS */
.font {
  font-family: 'Muli', sans-serif;
}
.fontA {
  font-family: 'Exo', sans-serif;
}
/* ################################ CLASSES */
.btn {
  font-size: 1em;
  display: inline-block;
  background: #23c4c3;
  color: #e7e7e7;
  border: none;
  padding: 8px 15px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn .fa {
  color: #747474;
  margin-right: 5px;
  margin-left: 5px;
}
.btn:hover {
  background: #272a32;
  color: #e7e7e7;
  -webkit-animation-name: breathing;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  cursor: pointer;
}
.btn.small {
  padding: 0 4px;
}
.btn.vbottom {
  vertical-align: bottom;
}
/* ################################ GENERAL */
body {
  font-family: 'Muli', sans-serif;
  background: #e7e7e7;
}
.index {
  background-image: url(../img/indexbg.jpg);
  background-position: center;
  background-size: cover;
}
.index .auxmenu * {
  fill: #e7e7e7;
  color: #e7e7e7;
}
.index .auxmenu:hover .svg * {
  fill: #2dfffe;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.index .auxmenu:hover div.txt {
  color: #2dfffe;
}
.index .joy * {
  fill: #e7e7e7;
}
.index .logo {
  margin-top: 14%;
}
@media only screen and (max-width: 600px) {
  .index .logo {
    margin-top: 20%;
  }
}
.logo {
  margin-top: 10px;
}
.logo svg {
  width: 100%;
  height: auto;
}
.joy * {
  fill: #272a32;
}
.mainNav,
.fullNav {
  margin-top: 40px;
}
.mainNav ul li,
.fullNav ul li {
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .mainNav ul li,
  .fullNav ul li {
    display: block;
    float: left;
    width: 31.25132%;
    margin: 0 1.041%;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .mainNav ul li,
  .fullNav ul li {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  .mainNav ul li,
  .fullNav ul li {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) {
  .mainNav ul li,
  .fullNav ul li {
    display: block;
    float: left;
    width: 47.91798%;
    margin: 0 1.041%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .mainNav ul li,
  .fullNav ul li {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  .mainNav ul li,
  .fullNav ul li {
    width: 97.91796%;
  }
}
.mainNav ul li a,
.fullNav ul li a {
  display: block;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  color: #e7e7e7;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 5px #272a32;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  font-size: 0.9em;
  padding-top: 50px;
  margin: 0 auto;
}
.mainNav ul li a:hover,
.fullNav ul li a:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #2dfffe;
  color: #2dfffe;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.mainNav ul li:nth-child(4) a,
.fullNav ul li:nth-child(4) a {
  padding-top: 40px;
}
.mainNav ul li ul.listSub,
.fullNav ul li ul.listSub {
  position: absolute;
  bottom: 120px;
}
@media only screen and (min-width: 601px) and (max-width: 1199px), only screen and (max-width: 600px) {
  .mainNav ul li ul.listSub,
  .fullNav ul li ul.listSub {
    display: none;
  }
}
.mainNav ul li ul.listSub li,
.fullNav ul li ul.listSub li {
  width: 100%;
}
.mainNav ul li ul.listSub li a,
.fullNav ul li ul.listSub li a {
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
  padding: 5px 0;
}
.showmenu,
.showshare {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  top: -200%;
  bottom: 0;
  margin: 0;
  z-index: 10;
  background: rgba(39, 42, 50, 0.95);
}
.showmenu .logo,
.showshare .logo {
  margin-top: 50px;
}
.showmenu .joy *,
.showshare .joy * {
  fill: #e7e7e7;
}
.showmenu .close,
.showshare .close {
  position: absolute;
  font-size: 2em;
  color: #e7e7e7;
  right: 20px;
  top: 20px;
}
.showmenu .close:hover,
.showshare .close:hover {
  color: #2dfffe;
  cursor: pointer;
}
.showshare {
  text-align: center;
}
.showshare a {
  display: block;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e7e7e7;
  color: #272a32;
  line-height: 2.2em;
  margin: 0 10px;
  font-size: 3em;
  margin: 80px auto;
}
.showshare a:hover {
  background: #2dfffe;
}
.auxmenu {
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: 'Exo', sans-serif;
}
.auxmenu * {
  fill: #272a32;
  color: #272a32;
}
.auxmenu a {
  display: inline-block;
  text-decoration: none;
  width: 58px;
  margin: 3px;
  text-align: center;
}
.auxmenu a .svg {
  width: 48px;
  height: 56px;
}
.auxmenu a .svg * {
  -webkit-transition: all 1000ms ease-out;
  -moz-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
}
.auxmenu a div.txt {
  font-size: 0.8em;
  margin-top: -20px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: absolute;
  width: 100%;
  text-align: center;
}
.auxmenu a:hover .svg * {
  fill: #1c9f9f;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.auxmenu a:hover div.txt {
  color: #1c9f9f;
  margin-top: 0;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.menuHidden {
  display: none;
}
h1,
h2,
h3,
h4 {
  font-family: 'Exo', sans-serif;
}
.centralContent {
  margin-top: 40px;
}
.centralContent h2,
.centralContent h3 {
  font-size: 2em;
  border-bottom: 2px solid #272a32;
  padding: 20px 0;
}
.centralContent h2.low,
.centralContent h3.low {
  border-bottom: none;
  border-top: 2px solid #272a32;
  margin-top: 20px;
  font-size: 2.6em;
}
.centralContent h3 {
  border-bottom: 1px solid #666668;
  font-size: 1.4em;
  padding: 5px 0;
}
.centralContent p {
  margin: 30px 0;
  font-size: 0.9em;
  text-align: justify;
}
.centralContent a {
  color: #272a32;
  text-decoration: none;
}
.centralContent a:hover {
  color: #2dfffe;
}
.centralContent ul {
  font-size: 0.9em;
  margin: 5px;
  list-style-type: square;
  list-style-position: inside;
}
.centralContent ul li {
  margin: 5px;
}
.centralContent .mainImage {
  height: 280px;
  background: #272a32;
}
.centralContent .mainImage:before {
  content: "";
  background: url(../img/leftDiag.svg);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
.centralContent .mainVideo a {
  display: block;
  width: 100%;
  min-height: 280px;
  background-size: 130%;
  background-position: center;
  position: relative;
}
.centralContent .mainVideo a:before {
  content: "";
  background: url(../img/leftDiag.svg);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
.centralContent .mainVideo a .svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
}
.centralContent .mainVideo a:hover .svg #play {
  fill: #2dfffe;
}
.centralContent .mainVideo a:hover .svg #circle {
  fill: rgba(0, 0, 0, 0.8);
}
.secVideo a {
  display: block;
  width: 100%;
  min-height: 260px;
  background-size: 140%;
  background-position: center;
  position: relative;
}
.secVideo a .svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
}
.secVideo a .svg svg {
  width: 80px;
  height: 80px;
}
.secVideo a:hover .svg #play {
  fill: #2dfffe;
}
.secVideo a:hover .svg #circle {
  fill: rgba(0, 0, 0, 0.8);
}
.secondContent {
  margin-top: 40px;
  margin-bottom: 40px;
}
.slideVideos a {
  display: block;
  width: 100%;
  min-height: 120px;
  background-size: 140%;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}
.slideVideos a .svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}
.slideVideos a .svg svg {
  width: 20px;
  height: 20px;
}
.slideVideos a:hover .svg #play {
  fill: #2dfffe;
}
.slideVideos a:hover .svg #circle {
  fill: rgba(0, 0, 0, 0.8);
}
.slideVideos .slick-arrow {
  background: transparent;
  top: 40%;
  font-size: 3em;
  width: auto;
  height: auto;
}
.slideVideos .slick-arrow.slick-prev {
  left: -40px;
}
.slideVideos .slick-arrow.slick-next {
  right: -40px;
}
.slideVideos .slick-arrow.slick-prev:before {
  content: "\f104";
}
.slideVideos .slick-arrow.slick-next:before {
  content: "\f105";
}
footer {
  padding: 30px 0;
  background: #272a32;
  color: #e7e7e7;
  font-family: 'Exo', sans-serif;
  text-align: center;
}
footer p {
  padding: 10px 0;
  font-size: 0.8em;
}
footer a {
  color: #e7e7e7;
  text-decoration: none;
}
footer a:hover {
  color: #2dfffe;
}
footer .col3 {
  display: block !important;
  float: left !important;
  width: 18.751325% !important;
  margin: 0 1.041% !important;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  footer .col3 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) {
  footer .col3 {
    width: 97.91796%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  footer .col3 {
    display: block !important;
    float: left !important;
    width: 47.91798% !important;
    margin: 0 1.041% !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  footer .col3 {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  footer .col3 {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) {
  footer .col3 {
    display: block !important;
    float: left !important;
    width: 97.91796% !important;
    margin: 0 1.041% !important;
  }
  footer .col3 div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  footer .col3 p {
    display: inline-block;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  footer .col3 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  footer .col3 {
    width: 97.91796%;
  }
}
footer .col3 .fa {
  font-size: 3em;
  padding: 10px 0;
}
@media only screen and (max-width: 600px) {
  footer .col3 .fa {
    font-size: 2em;
  }
}
footer .socials {
  text-align: center;
}
footer .socials a {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e7e7e7;
  color: #272a32;
  line-height: 2.2em;
  margin: 0 10px;
  font-size: 1.1em;
  margin: 10px 0;
}
footer .socials a:hover {
  background: #2dfffe;
}
@media only screen and (min-width: 601px) and (max-width: 1199px), only screen and (max-width: 600px) {
  footer .socials a {
    display: inline-block;
    margin: 20px;
  }
}
#footerEnd {
  background: #666668;
  padding: 14px 0;
  text-align: center;
}
#footerEnd a {
  color: #e7e7e7;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  font-size: 0.9em;
}
#footerEnd a:hover {
  color: #2dfffe;
}
#footerEnd nav ul li {
  display: block !important;
  float: left !important;
  width: 12.20370857% !important;
  margin: 0 1.041% !important;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  #footerEnd nav ul li {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) {
  #footerEnd nav ul li {
    width: 97.91796%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  #footerEnd nav ul li {
    display: block !important;
    float: left !important;
    width: 22.91799% !important;
    margin: 0 1.041% !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  #footerEnd nav ul li {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  #footerEnd nav ul li {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) {
  #footerEnd nav ul li {
    display: block !important;
    float: left !important;
    width: 97.91796% !important;
    margin: 0 1.041% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  #footerEnd nav ul li {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  #footerEnd nav ul li {
    width: 97.91796%;
  }
}
#footerEnd nav ul li .listSub {
  display: none;
}
.studio {
  margin: 10px 0 40px 0;
}
.studio a {
  display: block;
  text-decoration: none;
  position: relative;
}
.studio a#mkt-web {
  height: 408px;
}
@media only screen and (min-width: 601px) and (max-width: 1199px), only screen and (max-width: 600px) {
  .studio a#mkt-web {
    height: 204px;
    margin-bottom: 10px;
  }
}
.studio a#mkt-diseno,
.studio a#mkt-branding,
.studio a#mkt-pr {
  height: 200px;
}
.studio a#mkt-publicidad,
.studio a#mkt-estrategia {
  height: 200px;
  margin-top: 8px;
}
.studio a span {
  display: block;
  text-align: right;
  width: 40%;
  color: #e7e7e7;
  font-size: 1.4em;
  text-shadow: 1px 1px 4px rgba(39, 42, 50, 0.8);
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .studio a span {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .studio a span {
    width: 90%;
    font-size: 1.1em;
  }
}
.studio a img {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.studio a:hover span {
  width: 90%;
  font-size: 2em;
}
@media only screen and (max-width: 600px) {
  .studio a:hover span {
    font-size: 1.4em;
  }
}
.studio a:hover .backstretch {
  background: #272a32;
}
.studio a:hover img {
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
small {
  font-size: 0.6em;
}
.mktTxt {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .mktTxt {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.mktTxt a.icon {
  display: block;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
}
.mktTxt a.icon i {
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  color: #20b6b5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 3em;
  padding-top: 25px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mktTxt a.icon p {
  color: #20b6b5;
  font-size: 1.2em;
  text-align: center;
  margin: 5px 0;
}
.mktTxt a.icon:hover i {
  background: #2dfffe;
  color: #272a32;
}
.mktTxt a.icon.small {
  text-align: center;
  width: auto;
}
.mktTxt a.icon.small i {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 1.2em;
  padding-top: 6px;
}
.mktTxt a.icon.small p {
  display: inline-block;
  font-size: 0.9em;
}
.mktTxt h3 {
  margin: 20px 0;
  font-size: 2.2em;
  text-align: center;
  font-weight: normal;
}
.mktTxt h4 {
  font-size: 2em;
}
.mktTxt small {
  font-size: 0.8em;
}
.mktTxt p {
  margin: 30px 0;
  font-size: 0.9em;
  text-align: left;
}
.mktTxt p.center {
  text-align: center;
}
.mktTxt ul {
  font-size: 0.9em;
  margin: 5px;
  list-style-type: none;
  text-align: left;
}
.mktTxt ul li {
  margin: 10px 5px;
  border-left: 2px solid #272a32;
  padding: 5px 5px 5px 10px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.mktTxt ul li:hover {
  padding-left: 20px;
  border-left: 6px solid #2dfffe;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.mktTxt .empieza {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.2em;
  padding: 10px 40px;
}
.mktTxt .cl {
  text-align: center;
}
.mktTxt .cl .client {
  display: block;
  text-decoration: none;
  width: 100px;
  height: 100px;
  background: #fefefe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px auto;
}
.mktTxt .cl:nth-child(1) .client {
  background-image: url(../img/cl_hsbc.jpg);
}
.mktTxt .cl:nth-child(2) .client {
  background-image: url(../img/cl_coca.jpg);
}
.mktTxt .cl:nth-child(3) .client {
  background-image: url(../img/cl_moto.jpg);
}
.mktTxt .cl:nth-child(4) .client {
  background-image: url(../img/cl_google.jpg);
}
.mktTxt .cl:nth-child(5) .client {
  background-image: url(../img/cl_jose.jpg);
}
.mktTxt .cl:nth-child(6) .client {
  background-image: url(../img/cl_gatorade.jpg);
}
.mktTxt .cl:nth-child(7) .client {
  background-image: url(../img/cl_samsung.jpg);
}
.mktTxt .cl:nth-child(8) .client {
  background-image: url(../img/cl_corona.jpg);
}
.mktTxt .cl:nth-child(9) .client {
  background-image: url(../img/cl_mexico.jpg);
}
.mktTxt .cl:nth-child(10) .client {
  background-image: url(../img/cl_cruz.jpg);
}
.mktTxt .cl:nth-child(11) .client {
  background-image: url(../img/cl_mvs.jpg);
}
.mktTxt .cl:nth-child(12) .client {
  background-image: url(../img/cl_m.jpg);
}
.contact {
  padding: 40px 0;
  min-height: 520px;
}
.contact #map {
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .contact #map {
    position: static;
  }
}
.contact #form {
  position: relative;
  z-index: 1;
  background: rgba(38, 213, 212, 0.8);
  height: 520px;
}
@media only screen and (max-width: 600px) {
  .contact #form {
    height: auto;
  }
}
.contact #form h2 {
  font-size: 2em;
  color: #ffffff;
  font-weight: 300;
  margin-top: 20px;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .contact #form h2 {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  .contact #form h2 {
    font-size: 1.8em;
  }
}
.contact #form form {
  margin: 10px 0;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .contact #form p {
    font-size: 0.9em;
  }
}
.contact #form label {
  color: #17807f;
  margin-top: 5px;
  font-size: 0.8em;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .contact #form label {
    margin-top: 10px;
  }
}
.contact #form input,
.contact #form textarea {
  border: none;
  background: #e7e7e7;
  padding: 8px;
  font-family: 'Muli', sans-serif;
  font-size: 0.9em;
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .contact #form input,
  .contact #form textarea {
    padding: 6px;
    font-size: 0.8em;
  }
}
.contact #form textarea {
  height: 120px;
}
.contact #form button {
  width: 100%;
  background: #272a32;
  margin-top: 10px;
}
.contact #form button:hover {
  background: #e7e7e7;
  color: #272a32;
}
.contact #form .resultado {
  color: #e7e7e7;
  text-align: center;
  margin-top: 10px;
}
.contact #form .select {
  width: 100%;
  background: #e7e7e7;
  padding: 8px;
  overflow: hidden;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact #form .select select {
  width: 120%;
  background: transparent;
  border: none;
  appearance: none;
  font-size: 0.9em;
}
.contact #form:before {
  content: "";
  position: absolute;
  left: -100px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 520px 0;
  border-color: transparent rgba(38, 213, 212, 0.8) transparent transparent;
}
@media only screen and (max-width: 600px) {
  .contact #form:before {
    display: none;
  }
}
/* responsive */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .logo {
    display: block;
    float: left;
    width: 31.25132%;
    margin: 0 1.041%;
    margin-top: 10px;
  }
  .centralContent .col5 {
    display: block;
    float: left;
    width: 97.91796%;
    margin: 0 1.041%;
  }
  .centralContent .col7 {
    display: block;
    float: left;
    width: 97.91796%;
    margin: 0 1.041%;
  }
  .secondContent .col5 {
    display: block;
    float: left;
    width: 47.91798%;
    margin: 0 1.041%;
    margin-left: 1.041%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .logo {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  .logo {
    width: 97.91796%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .centralContent .col5 {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  .centralContent .col5 {
    width: 97.91796%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .centralContent .col7 {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  .centralContent .col7 {
    width: 97.91796%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .secondContent .col5 {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) and only screen and (max-width: 600px) {
  .secondContent .col5 {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    display: block;
    float: left;
    width: 47.91798%;
    margin: 0 1.041%;
    margin-top: 10px;
  }
  .centralContent .col5 {
    display: block;
    float: left;
    width: 97.91796%;
    margin: 0 1.041%;
  }
  .centralContent .col7 {
    display: block;
    float: left;
    width: 97.91796%;
    margin: 0 1.041%;
  }
  .secondContent .col5 {
    display: block;
    float: left;
    width: 97.91796%;
    margin: 0 1.041%;
    margin-left: 1.041%;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .logo {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  .logo {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .centralContent .col5 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  .centralContent .col5 {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .centralContent .col7 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  .centralContent .col7 {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 600px) and only screen and (min-width: 601px) and (max-width: 1199px) {
  .secondContent .col5 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 600px) and only screen and (max-width: 600px) {
  .secondContent .col5 {
    width: 97.91796%;
  }
}
